.about-section {
  padding: 10rem 1rem;
  text-align: center;
  height: 100vh;
  color: $secondaryColor;
}

.about-section-flex {
  display: flex;
  justify-content: space-between;
}

.about-section h2 {
  margin: 2rem 0;
}

.about-me {
  width: 35%;
}

.about-me img {
  width: 100%;
  min-width: 300px;
  border-radius: 50%;
}

.desc-about-me {
  width: calc(100% - 40%);
  margin: 2%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
