.about-section {
  padding: 20rem 1rem;
  text-align: center;
  color:$secondaryColor;
}

.about-section-flex {
  display: flex;
  justify-content: space-between;
  @include tabletMQ {
    display:block;
  }
}

.about-section h2 {
  margin: 2rem 0;
  @include tabletMQ {
    margin:4rem 0;
  }
}

.about-me {
  width: 30%;
  min-width: 350px;
  @include tabletMQ {
    margin: 2rem auto;
    width:50%;
  }
  @include smallMQ {
      width:50%;
    }
}

.about-me img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 30px -30px $primaryColor;
  @include tabletMQ {
    box-shadow: 15px -15px $primaryColor;
  }
  @include smallMQ {
    width:80%;
  }
}

.desc-about-me {
  width: calc(100% - 37%);
  margin-left: 6%;
  padding: 2rem;
  text-align: left;
  @include tabletMQ {
    width:100%;
    margin-left: 0;
  }
}
