.section {
      background-color: #fff9f9;
    }
     .container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    .info {
      width: 45%;
      text-align: left;
      @include mobiletMQ {
        width:80%;
        margin:0 auto 4rem auto;
      
      }
    }

    .info .social-media i {
      font-size: 40px;
      padding: 2rem;
      color: #023d66;
      text-shadow: 2px 3px #fff, 5px 6px #8deeff;
      &hover {
        color:#f17492;
      }
    }

    .info .social-media {
      display: flex;
    }

    .form {
      width: calc(100% - 50%);
      margin-left: 2%;
      @include mobiletMQ {
        width:80%;
        margin: 0 auto 3rem auto;

      }
    }

    .fieldContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    input {
      width: 100%;
      padding: 2rem;
      margin-bottom: 1rem;
      border: none;
      border-bottom: 3px solid #77e3f9;
      ;
    }

    .fieldContainer textarea {
      border: none;
      margin-bottom: 2rem;
      text-align: left;
      padding: 2rem;
      border: none;
      border-bottom: 3px solid #47cae4;
      
    }

    .fieldContainer button {
      display: inline-block;
      width: 30%;
      margin: 0 auto;
      background-color: rgb(255, 217, 220);
      padding: 1rem;
      font-size: 2.5rem;
      border: none;
      border: 3px solid #eff9fb;
      :hover {
        color:#f17492;
      }
    }
    .gmail {
      font-size: 1.6rem;
    }
    .gmail a {
      text-decoration: none;
      color: #023d66;
      text-shadow: 2px 3px #fff, 5px 6px #8deeff;
      &hover{
        color:#f17492;
      }
    }
    .container {
      @include mobiletMQ  {
        display: flex;
        flex-direction: column;
      }
    }