html {
  font-size: 62.5%;
}

body,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

body {
  font-size: 2rem;
  font-family: $fontOpenSans;
  line-height: 1.6;
  overflow-x: hidden;
  @include smallMQ {
    overflow-x: hidden;
  }
}

h1 {
  font-size: 8rem;
  z-index: 100;
  line-height: 1.6;
  font-family:$fontRoboto;
  color: $secondaryColor;
  @include smallMQ{
    font-size:4rem;
  }
}

h2 {
  font-size: 7rem;
  font-family:$fontOswald;
  @include smallMQ{
    font-size:3rem;
  }
}

h3 {
  font-size: 4rem;
  font-family:$fontRoboto;
  @include smallMQ{
    font-size:3rem;
  }
}

ul {
  display:flex;
}

