.skills-section {
    padding: 10rem 0;
    background-color:#fff9f9;
    color: $baseColor;
}

.iconName {
    // color:white;
    color:rgb(70, 61, 58);
}

.skills-section h2 {
    text-align: center;
}

.skill-icons {
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap:4rem;
    padding: 4rem;
    @include tabletMQ2 {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
    box-shadow: 0 0 10px rgb(32, 38, 43);
    margin: 0 auto;
}

.individual-skill-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill {
    color:#023d66;
    text-shadow: 2px 3px #fff, 5px 6px #8deeff;
    font-size: 8rem;
    transition: all 0.6s ease;
    &:hover {
        color:#f17492;
    }
}
