.skills-section {
    padding: 6rem 0;
    background-color:$primaryColor;
    color: $baseColor;
}

.iconName {
    color:white;
}

.skills-section h2 {
    text-align: center;
}

.skill-icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap:4rem;
    padding: 4rem;
    @include tabletMQ2 {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}

.individual-skill-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill {
    color: $baseColor;
    font-size: 10rem;
    &:hover {
        color:rgb(9, 168, 189);
    }
}
