.projects {
  background-color:$baseColor;
  color: $secondaryColor;
  padding: 15rem 0;
}

.projects-flex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
  padding: 10rem 0;
  @include tabletMQ2 {
    display: block;
  }
}

div.projects-flex:nth-child(even) div {
  padding: 2rem;
}

.projects-flex:nth-child(even) .projects-img {
  order: 2;
}

.projects-info {
  padding: 2rem;
  text-align: left;
}

.skillsUsed {
 margin:1rem 0;
}

.skillsUsed li {
  margin-right: 1.5rem;
  padding: 0 1rem;
  color:$secondaryColor;
}
.projectLinks {
  margin-top: 3rem;
}
.projectLinks a {
  text-decoration: none;
  margin-right: 1.5rem;
  padding: 1rem; 
  background-color: $secondaryColor;
  color:$baseColor;
  font-size: 2.5rem;
  &:hover {
    background-color:rgba(48, 46, 77, 0.9)
  }
}

span,
span a {
  color:#da695d;;
}

i {
  font-size: 5rem;
  transition: all 0.6 ease;
  &:hover {
    color:$primaryColor;
  }
}