.projects {

  padding: 15rem 0;
}

.projects-flex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
  padding: 10rem 0;
  @include tabletMQ2 {
    display: block;
  }
}

div.projects-flex:nth-child(even) div {
  padding: 2rem;
}

.projects-flex:nth-child(even) .projects-img {
  order: 2;
}

.projects-info {
  padding: 2rem;
  text-align: left;
}

.skillsUsed {
 margin:1rem 0;
}

.skillsUsed li {
  margin-right: 1.5rem;
  padding: 0 1rem;
  color:#f6a8bb;
  text-shadow: 2px 3px #fff, 5px 6px #8deeff;
}
.projectLinks {
  margin-top: 3rem;
}


span,
span a {
  color:#5db7da;;
}

i {
  font-size: 5rem;
  transition: all 0.6 ease;
  &:hover {
    color:#f17492;
  }
}
.outline {
    background-color: transparent;
    border: 2px solid #f488ab;

    @include smallMQ {
      margin-bottom: 2rem;
    }
  }

    .anchorTag {
      color: #666766;
      padding: 10px 30px;
      position: relative;
      transition: transform .3s ease;
      @include tabletMQ {
        padding: 10px 20px;
      }
    }

    .anchorTag img,
    .anchorTag span {
      position: relative;
      /* z-index: 1; */
      display: inline-block;
      transition: transform .3s cubic-bezier(.86, 0, .07, 1), opacity .3s;
      color: #3f3938;
     
    }


    .workLinks {
      margin-top: 3rem;

      @include smallMQ {
        display:flex;
        flex-direction: column;
        width:210px;
      }
    }

    .workLinks a {
      text-decoration: none;
      margin-right: 1.5rem;
      padding: 1.5rem;
      @include tabletMQ {
        padding:1rem;
      }
    }
   
    .center {
      text-align: center;
    }
    
.box {
  box-shadow: 10px -10px #f6a8bb;
}
