.projects {
  background-color:$primaryColor;
  color: rgb(32, 51, 92);
  padding: 15rem 0;
}

.projects-flex {
  display: grid;
  // grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
  padding: 10rem 0;
  @include tabletMQ2 {
    display: block;
  }
}

div.projects-flex:nth-child(even) div {
  padding: 2rem;
}

.projects-flex:nth-child(even) .projects-img {
  order: 2;
}



.projects-info {
  padding: 2rem;
  text-align: left;
}

.skillsUsed {
  margin-top: 0.50rem;
}

.skillsUsed li {
  margin-right: 1.5rem;
  padding: 0 1rem;
  color:#da695d;
}
.projectLinks {
  margin-top: 2rem;
}
.projectLinks a {
  text-decoration: none;
  margin-right: 1.5rem;
  padding: 1.5rem; 
  background-color:#da695d;
  color:white;
}
 
span a {
  color:#da695d;;
}