$primaryColor: #da695d;
$secondaryColor:rgb(32, 51, 92);
$baseColor:#FFFFFF;



$accentColor:#d0c6c6;
$projectFontColor: rgb(56, 80, 87);
$projectLiveButtonBackground:#1b1a32;
$projectLiveButtonColor:#f6f6f6;

$fontOpenSans: 'Open Sans', sans-serif;
$fontRoboto:'Barlow Condensed', sans-serif;
$fontOswald: 'Oswald', sans-serif;