$primaryColor: #CDF5F3;
$secondaryColor:rgb(255, 12, 12);
$accentColor:#d0c6c6;
$baseColor:#FFFFFF;
$projectFontColor: rgb(56, 80, 87);
$projectLiveButtonBackground:#1b1a32;
$projectLiveButtonColor:#f6f6f6;

$fontOpenSans: 'Open Sans', sans-serif;
$fontRoboto:'Barlow Condensed', sans-serif;
$fontOswald: 'Oswald', sans-serif;